<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title> TIM | Assignment {{assignment.id}}</title>

  <!-- Bootstrap core CSS -->
  <!-- <link href="{{ url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet"> -->
  <link href="{{ url_for('static', filename='css/bootswatch.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

  <!-- favicon -->
  <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/favicon.png') }}"/>
  <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
</head>

<body style="padding-top: 70px;">
  <div class="container">

    {% include 'navbar.html' %}
    <!-- main right col -->
    <div class="">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h3>Assignment {{assignment.id}}:</h3>
          <div class="panel panel-default">
            <div class="panel-body">
              <a href="{{url_for('viewuser', user_id=assignment.user.id)}}">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <span style="font-size:14px;">{{assignment.user.name}}</span>
              </a> 
              <div class="pull-right">
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                {{utc_to_local(assignment.timestamp).strftime('%Y-%m-%d %H:%M:%S %Z ')}}
              </div>
              <hr/>
              <h3>{{assignment.title}}</h3>
              <p class="assignmentp assignmenttext">{{assignment.text}}</p>   
              <hr/>
              <h4> Due date: {{assignment.duedate.strftime('%B %d, %Y')}}</h4>
              {% if assignment.documents.filter_by(filetype='image').all() %}
              <hr/>
              <div class = "row">
                <ul class="list-unstyled">
                  {% for i in assignment.documents.filter_by(filetype='image').all() %}
                  <li>
                    <div class="col-md-3">
                      <a  class="thumbnail">
                        <img src="{{ url_for('static', filename='files/images/%s'%(i.filename))}}">
                      </a>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              {% endif %}

              {% if assignment.documents.filter_by(filetype='doc').all() %}
              <hr/>

              <div class = "row">
               {% for i in assignment.documents.filter_by(filetype='doc').all() %}
               <div class="col-md-5">
                 <a href="{{ url_for('static', filename='files/docs/%s'%(i.filename))}}">
                   <div class="well">
                     <span class="glyphicon glyphicon-file" aria-hidden="true"></span>{{i.filename}}
                   </div>
                 </a>
               </div>
               {% endfor %}

             </div>

             {% endif %}

             <hr/>
             <a href="{{url_for('assignments', category_id=assignment.category.id)}}"> <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>Category: {{assignment.category.name}}</a>
             {% if assignment.user_id == g.user.id %}
             <a href="" class="pull-right del" data-toggle="modal" data-target="#delModal"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete assignment</a>
             {% endif %}


           </div>
         </div>

         {% if g.user.user_role == 'student' %}
         <div class="panel panel-default">
           <div class="panel-heading"><h5>Your submission</h5></div>
           <div class="panel-body">
            {% set submission = g.user.documents.filter_by(assignment_id=assignment.id).first() %}
            {% if submission %}

            <p>You have already submitted this assignment.<br>
              Filename: {{submission.filename}}<a href="{{ url_for('static', filename='files/assignments/' + assignment.id | string+ '/' + submission.filename)}}"> (Download)</a><br/>
              Time: {{utc_to_local(submission.timestamp).strftime('%Y-%m-%d %H:%M:%S %Z ')}}
            </p>
            {% endif %}
            {% if assignment.duedate > now.date() %}
            <form method="post" class="form-inline" enctype=multipart/form-data>

              <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
              <input type="hidden" name="formtype" value="adddocument">
              <div class="form-group">
                <label for="file">FILE INPUT</label>
                <input type="file" id="file" name="file" required>
              </div>
              <button type="submit" class="btn btn-primary btn-sm">Submit</button>
              <hr>
            </form>
            {% endif %} 

          </div>
        </div>
        {% endif %}

        {% if g.user.user_role == 'teacher' and assignment.user.id == g.user.id %}
        <div class="panel panel-default">
         <div class="panel-heading"><h5>Submissions</h5></div>
         <div class="panel-body">
         <h5>Total submissions: {{assignment.documents.filter_by(filetype="assignmentsubmission").all() | length}}

         <span class="pull-right"><a href="{{ url_for('static', filename='files/assignments/' + assignment.id | string+ '/' + 'all.zip')}}">Download all <span class="glyphicon glyphicon-download" aria-hidden="true"></span></a></span></h5>
         <table id="empTable" class="table table-hover table-striped">
          <thead>
                <tr>
                  <th>Student Name</th>
                  <th> Submitted on </th>
                  <th >Download <span class="glyphicon glyphicon-download" aria-hidden="true"></span></th>
                </tr>
    </thead>
    <tbody>
                 {% for doc  in assignment.documents.filter_by(filetype="assignmentsubmission").all() %}
                <tr> 
                <td>{{doc.user.name}}</td>
                <td>{{utc_to_local(doc.timestamp).strftime('%Y-%m-%d %H:%M:%S %Z ')}}</td>
                <td><a href="{{ url_for('static', filename='files/assignments/' + assignment.id | string+ '/' + doc.filename)}}">{{doc.filename}} </a></td>
                </tr>
                {% endfor %}
  </table>
         </div>
       </div>
       {% endif %}


     </div>


   </div>


 </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content"> 
      <div class = "center-block">        
        <div class="modal-body"> 

        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Delete Assignment</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to delete the Assignment titled "{{assignment.title}}"?
      </div>
      <div class="modal-footer">
        <form method="post">
          <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
          <input type="hidden" name="formtype" value="delassignment">
          <button type="submit" class="btn btn-primary">Yes</button>
          <button type="button" class="btn" data-dismiss="modal">No</button>
        </form>
      </div>
    </div>
  </div>
</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script type="text/javascript">

      $("#commenttext").click(function() {
        $(this).attr('rows',3)
      });

      $(document).ready(function(){
       $('a img').on('click',function(){
        var src = $(this).attr('src');
        var img = '<a href = "' + src + '"><img class="img-responsive center-block" src="' + src + '"/></a>';
        $('#myModal').modal();
        $('#myModal').on('shown.bs.modal', function(){
          $('#myModal .modal-body').html(img);
        });
        $('#myModal').on('hidden.bs.modal', function(){
          $('#myModal .modal-body').html('');
        });
      });  
     })
    </script>
  </body>

  </html>
