  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title> TIM | Posts</title>

  <!-- Bootstrap core CSS -->
  <!-- <link href="{{ url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet"> -->
  <link href="{{ url_for('static', filename='css/bootswatch.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

  <!-- favicon -->
  <!--<link rel="icon" type="image/png" href="{{ url_for('static',filename='images/favicon.png') }}"/> -->
</head>

<body style="padding-top: 70px;">
  
  {% include 'navbar.html' %}
  <div id="modal-bg" class="modal-bg">

  <div class="container">

    
    <!-- main right col -->
    {% include 'flash.html'%}

    {% if bycategory %}
    <h3>Posts by category:  {{categoryname}} 
    {% else %}
      <h3>All Posts
      {% endif %}
      <div class="btn-group pull-right">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Select Category <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
  <li><a href="{{url_for('posts')}}">All categories</a></li>
    {% for c in categories %}
    <li><a href="{{url_for('posts', category_id=c.id)}}">{{c.name}}</a></li>
    {% endfor %}
  </ul>
</div>
 </h3>

    
    
      <div class="row">

             
            {% for p in posts %}

             <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-body">
              <a href="{{url_for('viewuser', user_id=p.user.id)}}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span style="font-size:14px;">{{p.user.name}}</span></a> <div class="pull-right"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>{{utc_to_local(p.timestamp).strftime('%Y-%m-%d %H:%M:%S %Z ')}}</div>
              <hr/>
              <h4>{{p.title}}</h4>
               <p class="posttext">{{p.text}}</p>                         
               
               {% if p.documents.filter_by(filetype='image').all() %}
               <hr/>

                <div class = "row">
                <ul class="list-unstyled">
                {% for i in p.documents.filter_by(filetype='image').all() %}
                <li>
                 <div class="col-md-3">
                 <a  class="thumbnail">
                   <img src="{{ url_for('static', filename='files/images/%s'%(i.filename))}}">
                    </a>
               </div>
               </li>
               {% endfor %}
               </ul>
               </div>

               {% endif %}
            
              {% if p.documents.filter_by(filetype='doc').all() %}
               <hr/>

                <div class = "row">
                {% for i in p.documents.filter_by(filetype='doc').all() %}
                <div class="col-md-5">
            <a href="{{ url_for('static', filename='files/docs/%s'%(i.filename))}}"><div class="well"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>{{i.filename}}</div></a>
              </div>
              {% endfor %}
              
               </div>

               {% endif %}
               
               <hr/>
               <a href="{{url_for('index', category_id=p.category.id)}}"> <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>Category: {{p.category.name}}</a>
               <div class="pull-right">
               <a href="{{url_for('viewpost', post_id=p.id)}}" style="padding-right: 1em;"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>{{p.comments.all() | length }} Comment(s)</a>
               <a href="{{url_for('viewpost', post_id=p.id)}}" ><span class="glyphicon glyphicon-link" aria-hidden="true"></span>Permalink</a></div>
               
             </div>
             </div>
             </div>
             {% endfor %}
 

           </div>
     </div>        
  </div>


  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="glyphicon glyphicon-remove"></i></button>
        <div class="modal-header">
         
        </div>  
        <div class = "center-block">        
          <div class="modal-body"> 

          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>

    <script type="text/javascript">
      $(document).ready(function(){
       $('a img').on('click',function(){
        var src = $(this).attr('src');
        var img = '<a href = "' + src + '"><img class="img-responsive center-block" src="' + src + '"/></a>';
        $('#myModal').modal();
        $('#myModal').on('shown.bs.modal', function(){
          $('#myModal .modal-body').html(img);

          $('#modal-bg').addClass('modal-open');
        });
        $('#myModal').on('hidden.bs.modal', function(){
          $('#myModal .modal-body').html('');

          $('#modal-bg').removeClass('modal-open');
        });
      });  
     })
    </script>
  </body>

  </html>
